# Ignorar arquivos temporários do Python
__pycache__/
*.py[cod]

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

*.xlsx
*.csv

# Ignorar credenciais de segurança
credentials.json
.streamlit/secrets.toml